---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About Me</title>
  </head>
  <body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p> 
    <p>I hit my first roadblock on the final step of <a href="https://docs.astro.build/en/tutorial/1-setup/4/">Commit your local code to GitHub</a>. When I tried to commit, I got an error: "Repository already exists."</p>
    <p>Thank you to <a href="https://www.youtube.com/@latedeveloper7836">Late Developer</a> for recording <a href="https://www.youtube.com/watch?v=6WWf-iem3oA">the solution</a> a year ago.</p>
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

  </body>
</html>

