---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>My Astro Site</h1>
    <p>I am building a site with Astro using the standard tutorial, and I'm going to be documenting my landmines.</p> 
    <p>I hit my first roadblock on the final step of <a href="https://docs.astro.build/en/tutorial/1-setup/4/">Commit your local code to GitHub</a>. When I tried to commit, I got an error: "Repository already exists."</p>
    <p>Thank you to <a href="https://www.youtube.com/@latedeveloper7836">Late Developer</a> for recording <a href="https://www.youtube.com/watch?v=6WWf-iem3oA">the solution</a> a year ago.</p>
  </body>
</html>