---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "AndrewVieau.com";
---
<BaseLayout pageTitle={pageTitle}>  
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "Salut"]} />

  <p>
    I wanted to learn something new, so I'm building this site in Astro. 
  </p>

  <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Under_construction_graphic.gif" alt="Under Construction" style="max-width: 300px;"/>
    


</BaseLayout>