---
const { title, url, image } = Astro.props;

const myPosts = Object.values(import.meta.glob('./posts/*.md', { eager:  true }));
---

<li class="post">
	{image ? (
		<a href={url} class="post-image">
			<img src={image.url ?? image} alt={image.alt ?? title} width="200" />
		</a>
	) : null}
	<a href={url} class="post-title">{title}</a>
</li>

<style>
	.post {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		padding: 1rem;
		margin-bottom: 1.25rem;
		background: transparent;
		border-radius: 6px;
	}

	.post-image img {
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: 6px;
	}

	.post-title {
		margin-top: 0.5rem;
		font-weight: 600;
		color: inherit;
		text-decoration: none;
	}

	:global(.posts-list) {
		padding-left: 0;
		margin: 0;
	}
</style>